@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);

:root {
    --heading-font-family: Montserrat, Lato, sans-serif;
    /* Overrides */
    --bs-font-sans-serif: Open Sans, Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-link-color: #e7ad52;
    --bs-link-hover-color: #d08a1d;
    --bs-highlight-bg: #e7ad52;
    --bs-body-bg: #111111;
}
::-moz-selection {
    background: var(--bs-highlight-bg);
    color: black;
    text-shadow: none;
}
::selection {
    background: var(--bs-highlight-bg);
    color: black;
    text-shadow: none;
}

a {
    text-decoration: none;
}

header img {
    border: 1px solid var(--bs-link-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
}

@media (min-width: 576px) {
    .header h1.title {
        font-size: 2.8rem;
    }
}

/* Comments */

#comments {
    border-top: 2px solid white;
    margin-top: 20px;
    padding-top: 20px;
}

#comments #comments-inner,
#comments .utterances {
    margin-left: 0;
    margin-right: 0;
}

#comments #manual-commenting {
    color: #888;
}
